:root {
    /*fonts*/
    --main-font: "roboto", sans-serif;
    --secondary-font: "raleway", sans-serif;
    /*text color*/
    --main-tx-cl: #212121;
    --seccond-tx-cl: #757575;
    /*backround color*/
    --light-bg-cl: #ffffff;
    --dark-bg-cl: #2f303a;
    --cl-active: #2196f3;
    --secondary-bg-cl: #f5f4fa;
}