// .benefits {
//     @media screen and (max-width:480px){
//         padding-top: 60px;
//         padding-bottom: 60px;
//     }
// }

.benefits__list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    gap: 30px;
    }   
}

.benefits__item {

    margin-bottom: 30px;
    @media screen and (min-width:480px) {
            width: 450px;
    
        }

    @media screen and (min-width:768px){
        width: 354px;
        
    }
        @media screen and (min-width:1200px) {
            width: 270px;
    
        }

}

.benefits__tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.benefits__title {
    color: var(--main-tx-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width:768px){
        text-align: left;
    }
}

.benefits__text {
    color: var(--seccond-tx-cl);
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;
}