.hero {
    height: 400px;
    margin-left:auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background: rgba(196, 196, 196, 1);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width:1200px){
        height: 600px;
        padding-top: 200px;
    }
}

.hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-bg-cl);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:480px) {
            width: 360px;
        }
    @media screen and (min-width:1200px){
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}