.nav__link {
    display: inline-block;
    text-decoration: none;
    color: var(--main-tx-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: var(--cl-active);
}
}

.nav__list {
    display: flex;
    gap: 50px;
    align-items: baseline
}


.nav__link-active {
    position: relative;
    color: var(--cl-active);


&::after {
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--cl-active);
    border-radius: 2px;

    position: absolute;
    bottom: 0;
}
}
