.portfolio {
    background-color: var(--light-bg-cl);
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: flex-start;
    // margin-right: 8px;
    
    @media screen and (min-width:768px) {
        gap: 8px;
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.btn-portfolio {
    font-family: inherit;
    background-color: var(--secondary-bg-cl);
    color: var(--main-tx-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    border: none;
    border-radius: 4px;
margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:last-child{
        margin-top: 15px;
    }
         @media screen and (min-width:768px) {
            &:last-child{
                margin-top: 0;
            }
         }

&:hover,
&:focus {
    background-color: #2196f6;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 30px;
    // flex-grow: 1;
@media screen and (min-width:768px) {
    
         
}
}

.portfolio-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width:480px){
    width: 450px;  
}
 @media screen and (min-width:768px){
   width: 354px;
 }
 @media screen and (min-width:1200px) {
     width: 370px;
     height: 100%;

 }


&:hover,
&:focus {
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
}

.portfolio-text {
    
    padding: 20px 24px ;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}


.card-title {
    color: var(--main-tx-cl);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    @media screen and (min-width:768px) {
        width: 306px;
    }
         @media screen and (min-width:1200px) {
            width: auto;
         }
}

.card-variety {
    color: var(--seccond-tx-cl);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-card-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(101%);
// width: auto;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    


.portfolio-link:hover & {
    transform: translateY(0);

}}

.portfolio-overlay-text {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: #FFFFFF;

}