.form-title {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 12px;
@media screen and (min-width:1200px) {
        width: 450px;
    }
   
}



.register-form-group {
    margin-bottom: 20px;
}

.register-form-wrap {
    display: block;
    position: relative;
    margin-bottom: 10px;


&:last-child {
    margin-bottom: 0;
}}

.register-form-title {
    display: block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 4px;
    color: #757575;
}

.register-form-input-icon {
    position: relative;
    display: block;
}

.register-form-input {
    width: 100%;
    padding: 12px;
    padding-left: 35px;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:focus {
    border-color: #2196F3;
} 
&:focus+.register-form-icon {
    fill: #2196F3
}
}


.register-form-coment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:focus {
    border-color: #2196F3;

}}

.register-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.register-form-agreement {
    display: flex;
    gap: 7px;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.register-form-agreement-text {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: #757575;
    user-select: none;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
            line-height: 1.71;
    }
}

.form-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-underline-position: under;
}

.register-form-agreement-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .register-checkbox:checked+& .register-form-agreement-icon-check {
    opacity: 1;
    fill: #ffffff;}

.register-checkbox:checked+& {
    fill: #2196f3;
    background-color: #2196f3;

}}

.register-form-agreement-icon-check {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.register-form-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    border: none;
    background: #2196F3;

    border-radius: 4px;
    cursor: pointer;
    transition: transition background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #188CE8;
}}