
.team {
    background-color: var(--secondary-bg-cl);
}

.team__title {
    color: var(--main-tx-cl);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;
    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.team__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    @media screen and (min-width:768px){
    padding-left: 0;
    }

}

.team__item {
    background-color: var(--light-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width:768px) {
            width: 450px;
        }
   
        @media screen and (min-width:768px){
            width: 354px;
        }
                @media screen and (min-width:1200px) {
                    width: 270px;

                }
}

.team__text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name-worker {
    color: var(--main-tx-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

}

.team__profession {
    color: var(--seccond-tx-cl);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

}



