.work{
    display: none;
    @media screen and (min-width:1200px) {
        display: block;
    }
}
.work__title {
    color: var(--main-tx-cl);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.work__list {
    display: flex;
    gap: 30px;
}

.work__item {
    width: 100%;
    height: 294px;
    position: relative;
}

.work__overlay {
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;

}

.work__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}