.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    padding-right: 15px;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 600ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 40px;
    text-align: center;
    // max-width: 450px;
    
    @media screen and (min-width: 480px){
        width: 450px;
    }  
    @media screen and (min-width: 1200px) {
              width: 528px;
    
          }
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;


    background-color: #FFFFFF;
    border: 1px solid #0000001A;
    border-radius: 50%;
    cursor: pointer;

}

.modal-btn>.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover>.modal-icon,
.modal-btn:focus>.modal-icon {
    fill: #2196f3;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}